@charset 'utf-8';

@import 'reset';

figure {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #333;

  h1 {
    position: absolute;
    top: 7vh;
    left: 4vw;
    
    img {
      height: 70px;
    }
  }

  .menu {
    position: absolute;
    top: 8vh;
    right: 4vw;
    color: #fff;
    font-size: 24px;
  }

  section {
    width: 20vw;
    height: 65vh;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -32.5vh;
    margin-left: -10vw;

    article {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .inner {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        padding: 5vh 2.5vw 8vh;
        box-shadow: 10px 10px 20px rgba(0,0,0,.5);
        transform: scale(0.8);
        display: flex;
        justify-content: center;
        align-content: space-between;
        flex-wrap: wrap;
        
        .pic {
          width: 15vw;
          height: 15vw;
          margin: 0 auto;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          background-repeat: no-repeat;
          background-position: 200%;
          border: 1px solid #333;

          &::before, &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
          }

          .dot {
            width: 3vw;
            height: 3vw;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.3);
            position: relative;
            z-index: 3;
            box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2);
          }
        }

        .txt {
          text-align: center;
          position: relative;
          z-index: 3;

          h2 {
            font: normal 20px/1 'arial';
            color: #fff;
            margin-bottom: 2vh;
          }

          p {
            font: normal 12px/1 'arial';
            color: #fff;
            margin-bottom: 3vh;
          }

          ul {
            display: flex;
            justify-content: space-around;
            
            li {
              transform:scale(1); 
              transition:0.5s; 
              color: #fff;
              cursor: pointer;

              &.play {
                transform: scale(1.2);

                &:hover {
                  transform: scale(1.4);
                }
              }

              &:hover {
                transform: scale(1.2);
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
  
  .btnPrev {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20vw, -50%);
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #fff;
      transform: translateY(50%);
      transform: rotate(-40deg);
      transform-origin: left center;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #fff;
      transform: translateY(50%);
      transform: rotate(40deg);
      transform-origin: left center;
    }

    span {
      opacity: 0;
      transform: translate(-100%);
    }
  }

  .btnNext {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(20vw, -50%);
    cursor: pointer;
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      width: 100%;
      height: 1px;
      background: #fff;
      transform: translateY(50%);
      transform: rotate(-40deg);
      transform-origin: right center;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 50%;
      right: 0;
      width: 100%;
      height: 1px;
      background: #fff;
      transform: translateY(50%);
      transform: rotate(40deg);
      transform-origin: right center;
    }

    span {
      opacity: 0;
      transform: translate(-100%);
    }
  }
}